<html>
<head>
    <title>Ratpack01</title>
</head>
<body>
<h1>Ratpack using Handlebars</h1>

<p>Account Manager: {{firstName}} {{lastName}}</p>

<table>
    <thead>
    <tr>
        <th>Active</th>
        <th>Name</th>
        <th>Start Date</th>
    </tr>
    </thead>
    {{#each campaigns}}
        <tr>
            <td>{{active}}</td>
            <td>{{name}}</td>
            <td>{{startDate}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>